{% load static %}
{% load taggit_templatetags2_tags %}
{% get_taglist as tags for 'qa.Question' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.1.0/css/all.css'>
    <title>QA</title>
</head>

<body>
    <header id='header'>
        <div class="logo-img">
            <a href="{% url 'qa:home' %}">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="search-bar">
            <form method="get">
                {{search_form.as_p}}
                {% csrf_token %}
            </form>
            <i class="fas fa-search"></i>
        </div>
        <div class="navigation">
            <ul>
                {% if request.user.is_authenticated %}
                <li style="color: #15A4FA">Hello {{request.user.first_name}}</li>
                <li><a href="{% url 'qa:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'qa:login' %}">Login</a></li>
                <li><a href="{% url 'qa:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <section id="main-content">
        <aside id="left-sidebar">
            <ul>
                <li class="btn">
                    <a href="{% url 'qa:new_question' %}"><button class="ask-question"><i class="fas fa-plus"></i> ASK A QUESTION</button></a>
                </li>
                <h3 class="my-1">Tags:</h3>
                <li class="tags">
                    {% for tag in tags %}
                    <a class="tag" href="{% url 'qa:question_by_tag' tag.slug %}">{{tag}}</a>
                    {%endfor%}
                </li>
            </ul>
        </aside>
        <div class="content">
            {%block content%} {%endblock%}
        </div>
        <aside id="right-sidebar">
            <div class="statistic">
                <ul>
                    <li class="question-count">
                        <p>Questions</p>
                        <p><span>{{question_count}}</span></p>
                    </li>
                    <li class="member-count">
                        <p>Members</p>
                        <p><span>{{user_count}}</span></p>
                    </li>
                </ul>
            </div>
            <div class="most-used-tags">
                <h4>MOST USED TAG</h4>
                <ul class="tags">
                        {% for tag in tags %}
                        <li>
                            <a class="tag" href="{% url 'qa:question_by_tag' tag.slug %}">{{tag}}</a> x {{tag.num_times}}
                        </li>
                        {% endfor %}
                </ul>
            </div>
        </aside>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/
jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/
js.cookie.min.js"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        });
        {% block script %} {% endblock %}
    </script>
    
</body>

</html>