{% extends "../base.html" %}

{% block content %}
<div class="container">
    <div class="question-detail">
        <div class="votes-count">
            <a href=""><span class="upvote" data-id="{{user.id}}" data-qa="q" data-identity="{{question.slug}}" data-action="upvote"><i class="fas fa-sort-up"></i></span></a>
            {{question.votes}}
            <a href=""><span class="downvote" data-id="{{user.id}}" data-qa="q" data-identity="{{question.slug}}" data-action="downvote"><i class="fas fa-sort-down"></i></span></a>
        </div>
        <div class="question-content">
            <p class="question-title py-1">{{ question.title }}</p>
            <p class="date">Asked by {{question.user.username}} at {{question.created}}</p>
            <p class="question-body py-1">{{ question.body }}</p>
        </div>
    </div>


    <div class="answers-block">
        {% with answers.count as total_answers %}
        <h4 class="py-1">{{total_answers}} answer{{total_answers|pluralize}}</h4>
        {% endwith %}
        <div class="answers my-1">
            {% for answer in answers %}
            <div class="answer-detail my-2">
                <div class="votes-count">
                    <a href=""><span class="upvote" data-id="{{user.id}}" data-qa="a" data-identity="{{answer.id}}" data-action="upvote"><i class="fas fa-sort-up"></i></span></a>
                    {{answer.votes}}
                    <a href=""><span class="downvote" data-id="{{user.id}}" data-qa="a" data-identity="{{answer.id}}" data-action="downvote"><i class="fas fa-sort-down"></i></span></a>
                </div>
                <div class="answer-content">
                    <p class="answer-body">
                        {{answer.body}}
                    </p>
                    <p>Answered on {{answer.created}} by {{answer.user.username}}</p>
                </div>
            </div>
            <hr>
            {% empty %}
            <p>There is no comments yet</p>
            {% endfor %}
            
        </div>
    </div>

    {% if new_answer %}
    <h2>Your answer has been added</h2>
    {% else %}
    {% if request.user.is_authenticated %}
    <h2 class="my-1">Add a new answer</h2>
    <form action="" method="post" class="answer-form">
        {{answer_form.as_p}}
        {% csrf_token %}
        <p class="my-1"><input type="submit" value="Add answer"></p>
    </form>
    {% else %}
    <p>Please login to answer</p>
    {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block script %}
{%block domready %}
    $('span.upvote').click(function(e) {
        e.preventDefault()
        $.post("{% url 'qa:vote' %}", {id: $(this).data('id'), qa: $(this).data('qa'), identity: $(this).data('identity'),
        action: $(this).data('action')}, function(data) {
            if (data['status'] === 'ok') {
                alert('ok')
            }
        })
    })
{% endblock %}
{% endblock %}