{% extends '../base.html' %}

{% block content %}
<!-- Render "create question" form, if user has created question, notify them -->
{% if new_question %}
    <h2>Your question has been created! Go back to <a href="{% url 'qa:home' %}">homepage</a></h2>
{%else%}
<div class="container">
    <h2>Create a new question</h2>
    <form action="" method="post">
        {{question_form.as_p}}
        {% csrf_token %}
        <p class="my-1"><input type="submit" value="Create question"></p>
    </form>
</div>
{%endif%}
{% endblock %}